%footer#primary-footer
	.container
		.row.align-items-center
			.col-md-6
				%img.footer-logo{:src=>"../images/footer-logo.svg"}
			.col-md-6
				%ul.nav.flex-column.float-right.text-align-center-sm
					%li.nav-item.quarter-margin-bottom
						Questions? We're here to help.
					%li.nav-item
						%i.material-icons.align-middle
							help
						%a{:href=>"support.evercheckwallet.com"}
							Help center
					%li.nav-item
						%i.material-icons.align-middle
							email
						%a{:href=>"support@evercheckwallet.com"}
							support@evercheckwallet.com
