#primary-footer{
	padding:$baseline*1.5 0;
	background:$primary-color;
	color:white;
	.nav{
		font-size:13px;
		font-weight:600;
		line-height:22px;
		a{
			color:white;
		}
		i{
			opacity:.8;
			font-size:16px;
			margin-right:4px;
		}
		@include breakpoint(sm) {
			float:none!important;
			margin-top:$baseline;
		}
	}
	@include breakpoint(sm) {
		img.footer-logo{
			text-align:center;
			margin:0 auto;
			display:block;
		}
	}
}