%section.inverse-section.primary-promo
	.container
		.row
			.col-md-12.text-center
				%h2.bold-font
					Try BirdSeed for free
				%a.btn.btn-lg.btn-light.margin-top{:href=>"/pricing"}
					Get started
