%meta{:charset => "utf-8"}
%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
%meta{:content => "", :name => "description"}
%title 
  Evercheck Wallet

//google material icons
%link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}

= stylesheet_link_tag "style"
%link{href: "/images/favicon.ico", rel: "shortcut icon"}
= javascript_include_tag"https://code.jquery.com/jquery-3.3.1.min.js","https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", "lib/bootstrap.min.js", "lib/swiper.min.js", "lib/jquery.waypoints.js","https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js", "scripts"


