%section.main-hero#pricing-hero
	.container
		.row
			.col-lg-6.col-md-5
				.account-options
					%h2.margin-bottom
						Birdseed is
						%span.bold-font
							FREE
					%p.body-font-name.light-text-color
						Perhaps some text about why birdseed is free forever and how awesome that is for people using it.
					.margin-top
						%ul.list-unstyled.pricing-list
							-4.times do
								%li
									%p.body-large
										%i.material-icons.primary-text-color
											check
										Every tool included
					.card.off-white-bg-color.elevation-0
						.card-body
							%p.body-large.regular-font-name.bold-font
								How is it free?
							%p.body-small.light-text-color.no-margin-bottom
								venenatis metus sagittis sed. Phasellus ut orci purus. Cras a sollicitudin eros. Phasellus convallis euismod ex nec convallis.
			.col-md-1.col-lg-1
			.col-lg-5.col-md-6
				.create-account-promo
					.card.elevation-2
						.card-body
							%h4.margin-bottom.bold-font
								Create an account
							%p.light-text-color
								Already nave an account?
								%a{:href=>"#"}
									Sing in
							%form
								.form-group
									%label
										Full name
									%input.form-control.form-control-lg{:placeholder=>"John Doe"}
								.form-group
									%label
										Email
									%input.form-control.form-control-lg{:placeholder=>"john@doe.com"}
								.form-group
									%label
										Password
									%input.form-control.form-control-lg{:placeholder=>"5+ characters"}
								.form-group.double-margin-top
									%button.btn.btn-lg.btn-primary.btn-block{:type=>"submit"}
										Create account
							%h6.body-font-name.light-text-color.text-center
								By clicking “Sign up“ I agree to Birdseed’s 
								%a{:href=>"#"}
									Terms  
								and
								%a{:href=>"#"}
									Privacy Policy.




%section#price-panel
	.container
		.row.justify-content-center.text-center
			.col-lg-12
				%h2.text-center.bold-font.margin-bottom
					Birdseed Plus
				.price-indicator
					%h1
						%span.dollar-symbol
							$
						29
						%span.per
							\/month
				%p.text-center.body-large.light-text-color
					Total, not per user!
		.row.double-margin-top
			.col-lg
				.card.elevation-2.margin-bottom.pricing-feature
					.card-body
						.row
							.col-lg-3
								%img.margin-bottom.max-width{:src=>"../images/price-icon-branding.svg", :width=>"38px"}
							.col-lg-9
								%p.body-large.bold-font.no-margin-bottom
									No branding
								%p.light-text-color
									venenatis metus sagittis sed. Phasellus ut orci purus. 
			.col-lg
				.card.elevation-2.margin-bottom.pricing-feature
					.card-body
						.row
							.col-lg-3
								%img.margin-bottom.max-width{:src=>"../images/price-icon-videos.svg", :width=>"38px"}
							.col-lg-9
								%p.body-large.bold-font.no-margin-bottom
									Send videos
								%p.light-text-color
									venenatis metus sagittis sed. Phasellus ut orci purus. 
			.col-lg
				.card.elevation-2.margin-bottom.pricing-feature
					.card-body
						.row
							.col-lg-3
								%img.margin-bottom.max-width{:src=>"../images/price-icon-users.svg", :width=>"38px"}
							.col-lg-9
								%p.body-large.bold-font.no-margin-bottom
									10 user upgrade
								%p.light-text-color
									venenatis metus sagittis sed. Phasellus ut orci purus. 
		.row.text-center.double-margin-top
			.col-lg-12
				%a.btn.btn-lg.btn-primary{:href=>"/contact"}
					Get premium




