%section.home-hero
	.container
		.row.align-items-center
			.col-md-6.col-lg-6
				%h1.bold-font.margin-bottom.text-align-center-sm
					License management for healthcare professionals
				%p.body-large.double-margin-bottom.text-align-center-sm
					EverCheck Wallet is the simple way to manage your licenses, certifications, and registrations in one place and send updates to your employer easily.
				%a.btn.btn-primary.btn-lg.btn-block-sm#trigger-1{:href=>"#"}
					Get started
			.col-md-6.col-lg-6
				.float-right.img-fluid.double-margin-top.d-none.d-md-block
					= partial "home-phone"
				%img.float-right.img-fluid.double-margin-top.d-sm-block.d-md-none{:src=>"../images/hero-phone-mobile.svg"}
			
%section.portfolio#portfolio	
	.container
		.row.double-padding-bottom
			.col.text-center
				%h3.bold-font
					Your personal license management tool.
				%p.body-large
					Upload your information once and share it anytime.
		.row.double-padding-top
			.col
				.port-phone-container.d-none.d-md-block
					.port-phone-inner
						%img.port-img.port-card-4.port-card{:src=>"../images/port-card-4.svg"}
						%img.port-img.port-card-2.port-card{:src=>"../images/port-card-2.svg"}
						%img.port-img.port-phone{:src=>"../images/port-phone.svg"}
						%img.port-img.port-card-3.port-card{:src=>"../images/port-card-3.svg"}
						%img.port-img.port-card-1.port-card{:src=>"../images/port-card-1.svg"}
						%img.port-img.port-check-1.port-check{:src=>"../images/check.svg"}
						%img.port-img.port-check-2.port-check{:src=>"../images/check.svg"}
						%img.port-img.port-check-3.port-check{:src=>"../images/check.svg"}
						%img.port-img.port-check-4.port-check{:src=>"../images/check.svg"}
				%img.float-right.img-fluid.d-sm-block.d-md-none{:src=>"../images/portfolio-phone.svg"}

%section.features.no-padding-bottom
	.container
		.row.double-margin-bottom
			.col.text-center
				%h3.bold-font
					Making healthcare work better.
				%p.body-large
					More patient work. Less paperwork. Here’s what Wallet can do for you.
%section.swiper-section
	.swiper-wrapper
		.container
			.row
				.col
					.swiper-container
						.swiper-wrapper
							.swiper-slide 
								.slide-inner.no-padding-top.no-padding-bottom
									.row.align-items-center
										.col-md-6.order-md-2
											%img.img-fluid.mx-auto.d-block{:src=>"../images/slide-1.svg"}
										.col-md-6.order-md-1
											.swiper-content-wrapper
												%p.bold-font.body-large
													See which licenses your employer has on record. 
												%p
													Easily review which licenses, certifications, and registrations your employer is tracking for your role.
							.swiper-slide 
								.slide-inner.no-padding-top.no-padding-bottom
									.row.align-items-center
										.col-md-6.order-md-2
											%img.img-fluid.mx-auto.d-block{:src=>"../images/slide-2.svg"}
										.col-md-6.order-md-1
											.swiper-content-wrapper
												%p.bold-font.body-large
													Track your renewals effortlessly. 
												%p
													Get reminded of upcoming deadlines via email and push notification. This way, you can renew on time, every time.
							.swiper-slide 
								.slide-inner.no-padding-top.no-padding-bottom
									.row.align-items-center
										.col-md-6.order-md-2
											%img.img-fluid.mx-auto.d-block{:src=>"../images/slide-3.svg"}
										.col-md-6.order-md-1
											.swiper-content-wrapper
												%p.bold-font.body-large
													Send updates instantly.
												%p
													Send your updated license details to employers with just a few clicks once you've renewed.


						.swiper-pagination

						.swiper-button-prev
						.swiper-button-next




%section.verifications
	.container
		.row.double-margin-bottom
			.col.text-center
				%h3.bold-font
					150+ million verifications performed each year
				%p.body-large
					Backed by the power of the nation’s leading credentials verification organization, EverCheck Wallet sends your verified licenses to healthcare organizations securely. 
		.row
			.col-md-4
				.padded
					%img.mx-auto.d-block.margin-bottom{:src=>"../images/verification-lock.svg"}
					%p.body-large.text-center.medium-font
						Your information is 
						%br
						yours. 
					%p.extra-light-text-color
						We never share it with anyone without your permission, and we only share what’s needed for your continued employment.
			.col-md-4
				.padded
					%img.mx-auto.d-block.margin-bottom{:src=>"../images/verification-shield.svg"}
					%p.body-large.text-center.medium-font
						Security is our 
						%br
						priority.  
					%p.extra-light-text-color
						EverCheck Wallet uses industry-standard encryption methods to keep your information secure.
			.col-md-4
				.padded
					%img.mx-auto.d-block.margin-bottom{:src=>"../images/verification-support.svg"}
					%p.body-large.text-center.medium-font
						We’re available to 
						%br
						help.
 
					%p.extra-light-text-color
						There are plenty of humans behind our app, and we’re here to help. Visit our 
						%a{:href=>"support.evercheckwallet.com"}
							Help Center 
						to get in contact. 
		/ .row.text-center.double-margin-top
		/ 	.col
		/ 		%a.btn.btn-link{:href=>"#"}
		/ 			Learn why we're the most secure solution on the market

%section.get-wallet
	.container
		.get-evercheck-teaser
			.row.align-items-center
				.col-lg-6
					%img.img-fluid.d-none.d-lg-block{:src=>"../images/teaser-bg-desktop.svg"}
					%img.img-fluid.d-md-block.d-lg-none{:src=>"../images/teaser-bg-mobile.svg"}
				.col-lg-6
					.content-wrapper
						%h3.bold-font
							Get EverCheck Wallet
						%p.double-margin-bottom
							You’ve worked hard to earn your healthcare credentials. You shouldn’t have to work hard to manage them. 
						%a.btn.btn-white.btn-lg.btn-block-sm.btn-shadow{:href=>"#"}
							Get it now
				